@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Colores principales */
  --blanco: white;
  --negro: black;
  --borde-negro: #00000050;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline-flex;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

form,
input,
label,
textarea,
option,
select {
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--negro);
  color: var(--negro);
  background: url(../src/jirafa03.png);
  background-size: contain;
  background-position-x: center;
  background-position-y: -65px;
  z-index: 11px;
}

.h1-hide {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titular-positivo {
  width: 100%;
  margin-top: 2em;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--negro);
}

.flecha {
  bottom: 90px;
  display: flex;
  justify-content: center;
  animation: arrow 1s ease-in-out infinite;
  position: absolute;
}
@keyframes arrow {
  0% {
    transform: translate(0px, 50px);
  }
  50% {
    transform: translate(0px, 60px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}
.flecha .arrow {
  width: 50px;
  color: var(--blanco);
}
@media (max-width: 620px) {
  .flecha body {
    background: var(--negro);
  }
  .flecha ul {
    min-width: 0;
  }
}
@media (max-width: 855px) {
  .flecha .flecha {
    bottom: 90px;
  }
  .flecha .section {
    height: none;
  }
}

.header {
  width: 100%;
  padding: 1.2em 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--blanco);
  border-bottom: 1px solid gray;
  z-index: 10;
}
.header nav {
  width: 100%;
  margin: 0.5em 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.header nav .nav-logo {
  width: 200px;
}
.header nav .img-logo {
  width: 130px;
}
.header nav ul {
  min-width: 485px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-weight: 0.8em;
}
.header nav .li-text {
  font-size: 0.8em;
}
.header nav .li-text:hover {
  padding: 0.5em;
  background-color: var(--negro);
  color: var(--blanco);
}
@media (max-width: 620px) {
  .header {
    display: none;
  }
}
@media (max-width: 855px) {
  .header nav {
    margin: 0.5em;
  }
}

#home {
  background: url(../src/jirafa03.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: -65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
}
#home .content-home {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#home .logo {
  width: 230px;
}
#home .container {
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#home .text-about {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
#home .text {
  max-width: 57%;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  color: var(--blanco);
  padding-top: 1em;
}
@media (max-width: 855px) {
  #home #home {
    background-position-y: 0px;
  }
}

#about {
  padding: 13em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#about .titular-about {
  width: 700px;
  height: 370px;
  padding: 2em;
  margin: 0em 0.5em;
  font-size: 1em;
  font-weight: 700;
  text-align: right;
  color: var(--blanco);
  border: 4px solid var(--blanco);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#about .img-animate {
  width: 145px;
  height: 145px;
  border-radius: 85px;
  filter: grayscale(1);
}
#about .texto {
  max-width: 57%;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  color: var(--blanco);
  border-top: 1px solid white;
  padding-top: 1em;
}
@media (max-width: 620px) {
  #about {
    padding: 0;
    background: black;
  }
  #about .texto {
    width: 80%;
    max-width: none;
    font-size: 1em;
  }
  #about .titular-about {
    width: 100%;
    padding: 0;
    border: none;
  }
}
@media (min-width: 620px) and (max-width: 855px) {
  #about {
    padding: 10em;
    background: black;
  }
  #about .texto {
    font-size: 0.5em;
  }
  #about .titular-about {
    width: 515px;
    height: 440px;
    padding: 2em 1em;
    font-size: 2em;
  }
}

#services {
  background: url(../src/jirafa02.jpg);
  background-size: cover;
  color: var(--blanco);
}
#services .centrar-ventana {
  width: 100%;
  height: 100vh;
  background: var(--blanco);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#services .titular-positivo {
  width: 100%;
  margin-top: 2em;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--negro);
}
#services .centrar-section {
  padding: 2em 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#services .titular-services-izq,
#services .titular-services-der {
  width: 400px;
  height: 370px;
  padding: 1em;
  margin: 0em 0.5em;
  font-size: 2em;
  font-weight: 700;
  color: var(--negro);
  border: 4px solid var(--negro);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#services .titular-services-izq {
  text-align: right;
  align-items: center;
}
#services .titular-services-der {
  text-align: left;
  align-items: flex-start;
}
#services h1 {
  font-weight: 200;
  text-align: right;
}
@media (max-width: 620px) {
  #services .centrar-section {
    padding: 2em 0;
  }
}
@media (max-width: 855px) {
  #services .titular-services-izq {
    margin: 0.5em 0.5em;
    width: 370px;
    height: 125px;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center;
  }
  #services .titular-services-der {
    width: 370px;
    height: 267px;
    align-items: center;
    font-size: 1.5em;
  }
  #services .centrar-section {
    flex-flow: row wrap;
  }
}

#portfolio {
  width: 100%;
  padding: 5em;
  background: var(--blanco);
  background-size: cover;
  color: var(--negro);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#portfolio .portfolio-module {
  width: 1045px;
  padding: 2em 3em;
  margin-top: 3em;
  color: var(--blanco);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#portfolio .module,
#portfolio .module-sillas,
#portfolio .module-bestiary,
#portfolio .module-planet {
  width: calc(85% / 4);
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#portfolio .img-module {
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 15px solid var(--negro);
}
#portfolio .p-module {
  text-align: center;
  color: var(--negro);
}
#portfolio hr {
  width: 100%;
  margin-top: 1em;
  border-top: 4px solid var(--negro);
}
#portfolio .p-module {
  text-align: center;
  font-weight: 700;
  color: var(--negro);
}
#portfolio .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: white;
  z-index: 200;
}
#portfolio .lightbox-planet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: white;
  z-index: 200;
}
#portfolio .lightbox-sillas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: white;
  z-index: 200;
}
#portfolio .lightbox-bestiary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: white;
  z-index: 200;
}
#portfolio #pixar,
#portfolio #sillas,
#portfolio #bestiary,
#portfolio #sillas,
#portfolio .fa-times {
  font-size: 1.5em;
  margin: 1em 0;
  cursor: pointer;
  color: black;
}
#portfolio iframe {
  width: 100%;
  height: 900px;
  background-color: white;
}
@media (max-width: 620px) {
  #portfolio {
    height: 100%;
    padding: 0;
    padding-bottom: 5em;
  }
  #portfolio .titular-positivo {
    margin-top: 0;
  }
  #portfolio .portfolio-module {
    width: 100%;
    padding: 0;
    flex-flow: column wrap;
    align-items: center;
  }
  #portfolio .module,
#portfolio .module-sillas,
#portfolio .module-bestiary,
#portfolio .module-planet {
    width: 90%;
  }
}
@media (min-width: 620px) and (max-width: 855px) {
  #portfolio .portfolio-module {
    width: 100%;
    padding: 0em;
    margin-top: 1em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
  }
  #portfolio .module,
#portfolio .module-sillas,
#portfolio .module-bestiary,
#portfolio .module-planet {
    width: calc(132% / 4);
  }
  #portfolio .section {
    height: none;
  }
}

#contact {
  padding: 13em;
  background: url(../src/rodion-kutsaev-GE5f_k4MPc4-unsplash.jpg);
  background-size: cover;
  color: var(--blanco);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#contact .email {
  font-size: 1.5em;
  border: 1px solid var(--blanco);
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.7);
}
#contact .a-email {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}
#contact .a-email:hover {
  color: gray;
}
#contact .rrss {
  margin: 30px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#contact .li-rss {
  display: inline-block;
  margin: 0 10px;
}
#contact .fab {
  color: var(--blanco);
  font-size: 1.2em;
}
#contact .fab:hover {
  color: gray;
  font-size: 1.2em;
}
@media (max-width: 620px) {
  #contact .email {
    padding: 2em 1em;
  }
}